
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	outline: 1px solid yellowgreen;
}

.firstBlock  {
	grid-row: 1/3;
	align-self: center;
	writing-mode: vertical-lr;
}

.secondBlock {
	grid-row: 1/2;
	align-self: flex-start;
	margin: 0 auto;
}

.thirdBlock {
	grid-row: 2/3;
	align-self: flex-end;
	margin: 0 auto;
}

.lastBlock {
	grid-row: 1/3;
	align-self: center;
	justify-self: flex-end;
	writing-mode: vertical-rl;
}