@import '~@csstools/normalize.css';

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: center / cover no-repeat url("./image/planet-imagery-hero.jpg");
}

* {
  box-sizing: border-box;
}
